/* Sneak Peek */
/* Styles that appear on elements declared as sneak_peek */


/* 'Under construction' border around sneak peek features */
.django-sneak-peek {
	border-style: solid;
	border-width: 10px;
	-moz-border-image: url('../images/django-sneak-peek-under-construction-border-image.png') 10 round;
	-webkit-border-image: url('../images/django-sneak-peek-under-construction-border-image.png') 10 round;
	-o-border-image: url('../images/django-sneak-peek-under-construction-border-image.png') 10 round;
	border-image: url('../images/django-sneak-peek-under-construction-border-image.png') 10 round;
}


/* Use an outline instaed of a border to reduce box-model interference */
.django-sneak-peek.outline {
	border: none;
	outline: 10px dashed #fbe500;
}


/* Borderless style allows the markup to appear without differentiation */
.django-sneak-peek.borderless {
	border: none;
}


/* Additional display styles for inline & inline-block elements */
.django-sneak-peek.inline {
	display: inline;
}

.django-sneak-peek.inline-block {
	display: inline-block;
}
